html {
 	height: 100%;
 }

body {
	font-family: sans-serif;
	font-size: 14px;
	color: #333333;
	background-color: #333333;
}

#container {
	width: 600px;
	min-height: 100%;
	background-color: #FFFFFF;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	border-left: 1px solid #AAAAAA;
	border-right: 1px solid #AAAAAA;
}

.message {
	width: 100%-10px;
	min-height: 70px;
	padding: 10px;
	border-bottom: 1px solid #AAAAAA;
}

.message_content {
	font-size: 24px;
	font-weight: bold;
	min-height: 50px;
	overflow: scroll;
}

.message_info {
	font-size: 10px;
	color: #AAAAAA;

}